/*!
 *  Font Multicolore - https://www.fontfabric.com/fonts/multicolore/
 */
 @font-face{
  font-family:'Multicolore';
  src: url('/fonts/multicolore.eot') format('eot'),
    url('/fonts/multicolore.woff') format('woff'),
    url('/fonts/multicolore.ttf') format('truetype'),
    url('/fonts/multicolore.svg') format('svg');
  font-weight:normal;
  font-style:normal;
  }

  @font-face {
    font-family: 'Avenir';
    src: local('Avenir Light'), local('Avenir-Light'),
        url('/fonts/Avenir-Light.eot') format('eot'),
        url('/fonts/Avenir-Light.woff2') format('woff2'),
        url('/fonts/Avenir-Light.woff') format('woff'),
        url('/fonts/Avenir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
