---
layout: page
title: Life School Riviera
permalink: /en/
lang: en
---
<!-- Slider Start -->
<section id="slider" class="bgImage"  style="background-image: url('/img/header/index-{{ page.lang }}.webp')"></section>

<!-- Wrapper Start -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 col-12">
        <a name="presentation" class="anchor"></a>
        <h2>Presentation</h2>
        <p>Life School Riviera is an innovative and progressive private school. It was born out of the desire to reveal each child's potential, talents and identity by offering quality teaching, tailor-made, adapted to the child's rhythm and learning profile. The heart of our school is to teach and transmit  essential values, appreciation of others and sense of excellence. The school opened at the beginning of the school year 2021, in a green setting in Saint-Légier.
          <a href="/en/infos">Registration is open</a> from 1P to 8P Harmos.</p>
      </div>
    </div>
  </div>
</section>


 <!-- Slider Start -->
<section class="bgImage" style="background-image: url('/img/bg/unique child-{{ page.lang }}.webp');"></section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 col-12">
        <a name="vision" class="anchor"></a>
        <h2>Vision</h2>
         <p>A well-taught child ensures his future and that of society.
           We want a school where students are comfortable expressing themselves with who
           they are while feeling listened to and who can build their own identity and become responsible, respectful citizens as adults.
           We also want a school where teachers are valued and rewarded for their investment.
         </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 col-12">
        <h2>Mission</h2>
        <p>Our Mission together is to prepare each child to become a confident, fulfilled, responsible and respectful citizen.
         We want to equip them to become leaders and bring solutions to the society of tomorrow.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 col-12">
        <h2>Philosophy</h2>
        <p>Through teaching to the French-speaking Swiss study plan yet integrating Christian values that bring life and hope, we wish for our students to develop a sound set of values to face their futures.
         Although we do not teach theological biblical classes we are committed to showing Christian values
         on a daily basis through the school structure and attitudes of respect, sharing, benevolence and valuing each other.
         We aim to encourage children to do good to those around them and take care of each other and the environment.
         These values allow each child to make their own choices about their life and their future.</p>
      </div>
    </div>
  </div>
</section>

 <!-- Image -->
<section class="bgImage" style="background-image: url('/img/bg/modeling clay-{{ page.lang }}.webp');"></section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 col-12">
        <a name="values" class="anchor"></a>
        <h2>Values</h2>
        <p>The foundations of the school are based on the following Christian values:&nbsp;<font class="brand-font">listening, sharing, respect, empathy, forgiveness, perseverance.</font></p>
        <p>To promote and develop: self-esteem and confidence, solidarity, team work, responsibility and respect for oneself and others.</p>
        <p><font class="brand-font">The sense of excellence</font> We lead everyone to give the best of themselves in whatever he/she undertakes without criticism or comparison.</p>
        <p><font class="brand-font">The culture of respect</font> Every child, teacher and staff member shows mutual respect towards each other, valuing their importance, reputation and their family and culture.</p>
        <p><font class="brand-font">Freedom of opinions and convictions</font> Indoctrination or proselytism are not part of our values. Each child can think, give his point of view, pose questions, have their own beliefs and express thoughts freely, all under the umbrella of respect.</p>
        <p>We want to put into practice these values, adopted also by our Swiss constitution, so that each child can find their identity and become a responsible and respectful citizen.</p>
        <p>Each student, teacher and worker must sign a&nbsp;<font class="brand-font">charter of values and behavior</font> that they will have to respect and put into practice within the school.</p>
      </div>
    </div>
  </div>
</section>


<!-- Image -->
<section class="bgImage" style="background-image: url('/img/bg/child playing hoop-{{ page.lang }}.webp');"></section>

{% if site.data.en.principles.size > 0 %}
<!-- Principles Start -->
<section id="portfolio-work">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <a name="foundations" class="anchor"></a>
        <h2 style="margin-bottom:7vw;">
         Our foundations for learning
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="block">
            <div class="portfolio-contant">
              <ul id="portfolio-contant-active">
                {% for p in site.data.en.principles %}
                <li class="mix {{ p.category }}">
                  <a href="#{{ p.ref }}" data-toggle="modal" data-target="#mod{{ p.ref }}">
                    <img src="{{ site.baseurl }}/img/principles/{{ p.image }}" alt="{{ p.title }}">
                    <div class="overly">
                      <div class="position-center">
                        <h2>{{ p.title }}</h2>
                        <p>{{ p.subtitle }}</p>
                      </div>
                    </div>
                  </a>
                 </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}


{% if site.data.en.principles.size > 0 %}
<!-- Principles Details Start -->
{% for p in site.data.en.principles %}
  <!-- Modal {{ p.ref }}-->
  <div class="modal fade bd-example-modal-lg" id="mod{{ p.ref }}" tabindex="-1" role="dialog" aria-labelledby="mod{{ p.ref }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="mod{{ p.ref }}Label">{{ p.title }}</h5>
          <button type="button" class="close {{ p.class }}" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table>
            <tbody>
              <tr>
                <td rowspan="2" style="vertical-align:top;">
                  <img src="{{ site.baseurl }}/img/principles/{{ p.image }}" class="float-left" style="width: 5rem; max-width: 250px; margin-right: 1vw; margin-bottom: 2vw;"></td>
                <td>
                  <h2 style="text-align: left;">{{ p.summary }}</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <p>{{ p.desc }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}

<!-- Image -->
<section class="bgImage" style="background-image: url('/img/bg/painted girl-{{ page.lang }}.webp');"></section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 col-12">
        <a name="benefits" class="anchor"></a>
        <h2>Benefits for parents</h2>
        <p><font class="brand-font">AFFORDABLE SCHOOLING</font> for all families depending on income. We want to offer a fair and inclusive education system based on equal access to educational opportunities</p>
        <p><font class="brand-font">CLOSE COLLABORATION</font> with parents to support children depending on their needs.</p>
        <p>The possibility of leaving your child at school between <font class="brand-font">7h30 - 15h45</font>.</p>
        <p><font class="brand-font">DIVING DEEPER</font> - presentations and discussions on themes such as: identity, relationships, the environment, addictions, nutrition, etc.</p>
        <p><font class="brand-font">WORKSHOPS</font> initiated by experts in their field.</p>
        <p>Raises awareness in order to <font class="brand-font">PREVENT OVEREXPOSURE TO DIGITAL MEDIA</font>.</p>
        <p><font class="brand-font">COLLABORATION WITH COMPANIES</font> in the region through various projects.</p>
        <p>Commitment, participation and support for <font class="brand-font">COMMUNITY & HUMANITARIAN PROJECTS</font>.</p>
      </div>
    </div>
  </div>
</section>
