---
layout: page
title: Life School Riviera
permalink: /en/
lang: en
---

<!-- Slider Start -->
<section id="slider">
 <!--div class="container">
   <div class="row">
     <div class="col-md-8 offset-md-2">
       <div class="block">
         <h1 class="animated fadeInUp">LIFE SCHOOL<br>RIVIERA</h1>
         <p class="animated fadeInUp">Vivre l'école autrement...</p>
         <p class="animated fadeInUp">Bienvenue !</p>
       </div>
     </div>
   </div>
 </div-->
</section>

<!-- Wrapper Start -->
<section id="presentation">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12">
        <h2>Presentation</h2>
        <p>Life School Riviera is an innovative and progressive private school. It was born out of the desire to reveal each child's potential, talents and identity by offering quality teaching, tailor-made, adapted to the child's rhythm and learning profile. The heart of our school is to teach and transmit  essential values, appreciation of others and sense of excellence. The school will open at the beginning of the school year 2021, in a green setting in Saint-Légier.
          Registration is open from 1H to 7H.</p>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section id="aboutus">
 <div class="container">
   <div class="row">
     <div class="col-md-8 offset-md-2 col-sm-12">
       <div class="block">
         <div class="section-title">
           <h2>About us</h2>
           <p>We are parents, teachers and professionals who believe in the potential of every child.</p>
         </div>
         <blockquote class="blockquote">
           <p class="mb-0">The idea of ​​creating a different school on the Vaudoise Riviera seemed obvious to
me as I watched the children around me. In every child there is a thirst for learning
and the school should support parents in their role of encouraging their children to
discover their interests, gifts and abilities.<br />
We offer a place where children make new discoveries every day and grow at their
own pace. We want them to operate in an environment that does not encourage
competition but that encourages collaboration.</p>
           <footer class="blockquote-footer">Nathalie Rod Dumoulin, <cite title="Source Title">Founder</cite></footer>
         </blockquote>
        <div class="youtube">
         <iframe class="youtube" src="https://www.youtube.com/embed/6J_hankijqs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
       </div>
     </div><!-- .col-md-7 close -->
   </div>
 </div>
</section>


<!-- Slider Start -->
<section id="feature">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="block">
         <H1 class="animated fadeInUp">Every child is unique<br/>and deserves teaching that suits them</h1>
       </div>
     </div>
   </div>
 </div>
</section>

<section id="vision">
<div class="container">
 <div class="row">
   <div class="col-md-8 offset-md-2 col-sm-12">
     <h2>Vision</h2>
     <p>A well-taught child ensures his future and that of society.<br />
       We want a school where students are comfortable expressing themselves with who
they are while feeling listened to and who can build their own identity and become
responsible, respectful citizens as adults.<br />
       We also want a school where teachers are valued and rewarded for their investment.</p>
   </div>
 </div>
 <div class="row">
   <div class="col-md-8 offset-md-2 col-sm-12">
     <h2>Mission</h2>
     <p><b>Valuing</b> each child by showing them that they are able to learn and are important to others. <br>
       <b>Helping</b> each child develop their potential.<br>
       <b>Teaching</b> children autonomy so that they can assume responsibilities and put into
practice knowledge they have already acquired.<br>
       <b>Encourage</b> dialogue and positive contact between families and teachers.
     </p>
   </div>
 </div>
 <div class="row">
   <div class="col-md-8 offset-md-2 col-sm-12">
     <h2>Values</h2>
     <p>Listening, forgiveness, solidarity, self-esteem, respect, encouragement.<br />
       Our teachers must live these values ​​on a daily basis. We want to put into practice Christian values without any notion of religion or indoctrination.
     </p>
   </div>
 </div>
</div>
</section>


<!-- Slider Start -->
<section id="philo">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="block">
         <H1 class="animated fadeInUp">Learning must have a meaning for the child.</h1>
       </div>
     </div>
   </div>
 </div>
</section>

<section id="philosophy">
 <div class="container">
   <div class="row">
     <div class="col-md-8 offset-md-2 col-sm-12">
       <h2>Philosophy</h2>
       <p>We want to encourage each student and teacher to value the importance and reputation of the other and their family through respect and service.</p>
       <p>We want to provide quality education that allows children to strive for excellence by giving their best without comparing themselves to others’ achievements. Excellence is part of our philosophy as we strive to get the best from our students at their own pace and ability.</p>
       <p>We want a school anchored in a solid education where we give meaning to learning by allowing students to build their knowledge based on experience and then to use those skills and tools acquired in school in their everyday life.</p>
       <p>We will follow the “Romand Study Plan” (RSP) and integrate Christian values ​​that are not religious. Our vision of the world is based on the Bible which reveals to us that human beings were created to have a relationship with God. However, this God who reaches out to us leaves us free to choose whether we want to believe in him or not. Christian values ​​allow each individual to make their own choices about their life and future.</p>
     </div>
   </div>
 </div>
</section>


<!-- Slider Start -->
<section id="principles">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="block">
         <H1 class="animated fadeInUp">Valuing everyone's gifts</h1>
       </div>
     </div>
   </div>
 </div>
</section>

{% if site.data.en.principles.size > 0 %}
<!-- Principles Start -->
<section id="portfolio-work">
 <div class="container">
   <div class="row">
     <div class="col-md-12 col-sm-12">

       <h2 style="text-align:center;margin-bottom:40px;">
         <img src="/img/principles.png" alt="quotation">
        Great Principles
       </h2>
     </div>
   </div>
   <div class="row">
     <div class="col-md-12 col-sm-12">
       <div class="block">
           <div class="portfolio-contant">
             <ul id="portfolio-contant-active">
               {% for p in site.data.en.principles %}
               <li class="mix {{ p.category }}">
                 <a href="#{{ p.ref }}">
                   <img src="{{ site.baseurl }}/img/principles/{{ p.image }}" alt="{{ p.title }}">
                   <div class="overly">
                     <div class="position-center">
                       <h2>{{ p.title }}</h2>
                       <p>{{ p.subtitle }}</p>
                     </div>
                   </div>
                 </a>
                </li>
               {% endfor %}
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
{% endif %}

{% if site.data.en.principles.size > 0 %}
<!-- Principles Details Start -->
{% for p in site.data.en.principles %}
<section id="{{ p.ref }}">
 <div class="container">
     <div class="table-responsive table-borderless">
       <table class="table">
           <tbody>
               <tr>
                 <td style="width:10%;vertical-align:middle;">
                   <img src="/img/principles/{{ p.image }}" alt="{{ p.title }}" class="thumbnail">
                 </td>
                 <td style="width:90%">
                   <div class="section-title">
                     <h2>{{ p.title }}</h2>
                     <p>{{ p.summary }}</p>
                   </div>
                 </td>
               </tr>
               <tr>
                 <td colspan=2 style="border:none;">
                   <p class="wrap">{{ p.desc }}</p>
                 </td>
               </tr>
           </tbody>
         </table>
      </div>
  </div>
</section>
{% endfor %}
{% endif %}


<!-- Slider Start -->
<section id="joy">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="block">
         <H1 class="animated fadeInUp">Stimulate and encourage the thirst for learning</h1>
       </div>
     </div>
   </div>
 </div>
</section>



{% if site.data.en.team.size > 0 %}
<!-- Team Start -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="text-align:center"><img src="/img/testimonials/quote.png" alt="quotation"  style="width:50px;padding-right:10px;">Our team</h2>
      </div>
    </div>
    <div class="row">
    {% for tm in site.data.en.team %}
    {% assign num = forloop.index | modulo:2 %}
      <div class="col-12 col-md-6">
        <table><tr><td>
          {% if tm.image.size != 0 %}
           <img src="{{ tm.image }}" class="img-rounded img-responsive pull-right animated fadeInUp team-member">
          {% endif %}
          </td>
          <td rowspan=2 style="padding-left:15px;padding-top:0px;">
            <blockquote class="blockquote">
              <p class="mb-0">{{ tm.testimonial }}</p>
            </blockquote>
          </td></tr>
          <tr><td>
            <div class="member-name">{{ tm.name }}</div>
          </td></tr>
        </table>           
      </div>
    {% endfor %}
    </div>
  </div>
</section>
{% endif %}
