---
layout: page
title: Media
permalink: /en/media
lang: en
---


<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Stay connected with us!</h1>
          <p>Please find here below the latest news and some interesting stories about our school.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blog-posts">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="block">

          {% assign i = 0 %}
          {% assign sorted_posts = site.posts | sort:"date" | reverse %}
          {% for post in sorted_posts %}
          {% assign i = i | plus: 1 %}
          <div class="post-area">
            <h2>{{ post.title }}</h2>
            <p class="post-date">{% assign dy = post.date | date: "%a" %}{% case dy %}{% when "Mon" %}Lundi{% when "Tue" %}Mardi{% when "Wed" %}Mercredi{% when "Thu" %}Jeudi{% when "Fri" %}Vendredi{% when "Sat" %}Samedi{% when "Sun" %}Dimanche{% else %}{{ dy }}{% endcase %} {% assign d = post.date | date: "%-d"  %}{% case d %}{% when '1' %}{{ d }}er{% else %}{{ d }}{% endcase %} {% assign m = post.date | date: "%-m" %}{% case m %}{% when '1' %}janvier{% when '2' %}février{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}août{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}décembre{% endcase %} {{ post.date | date: '%Y' }}</p>
            <p>{{ post.description }}
              <br />
              <a href="#post_{{ i }}" data-toggle="collapse">
                Read more...<img src="/img/more.png" style="width:30px;" />
              </a>
            </p>
            <div id="post_{{ i }}" class="collapse">
              {% if post.image and post.image != blank %}
              <img src="{{ post.image }}" border=0 style="float:left;height:100px;width:auto;margin-right:10px;margin-bottom:10px;">
              {% endif %}

              {{ post.content }}

              {% if post.video and post.video != blank %}
              <p>
                <iframe width="560" height="315" src="{{ post.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </p>
              {% endif %}
            </div>
          </div>
          {% endfor %}

        </div>
      </div>

      <div class="col-md-6">
        <div class="block" style="align:center;">
          <div class="fb-page" data-href="https://www.facebook.com/lifeschoolriviera/" data-tabs="timeline, events" data-width="500" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/lifeschoolriviera/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lifeschoolriviera/">Life School Riviera</a></blockquote></div>
        </div>
      </div>

    </div> <!-- row -->
  </div>
</section>
