---
layout: page
title: The School
permalink: /en/school
lang: en
---
<!-- Slider Start -->
<section id="global-header" style="background-image: url(/img/header/school-{{ page.lang }}.webp)">
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="classes" class="anchor"></a>
        <h2>
          <img src="/img/school/classroom.png" style="width:50px;padding-right:10px;">
         Organisation des classes
        </h2>
      </div>
    </div>

    
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p class="mb-0">A la rentrée scolaire d’août 2021, nous ouvrons deux classes selon la méthode multi-âges :</p>
            <ul class="list">
              <li>Une classe 1P à 4P Harmos (Cycle I)</li>
              <li>Une classe 5P à 8P Harmos (Cycle II)</li>
            </ul>          
          <p class="mb-m">Nous pouvons accueillir 20 élèves qui seront répartis dans ces deux classes.</p>
          <p class="mb-m">Les matins, l’enseignement est axé sur les savoirs académiques essentiels (Mathématique, Français, Anglais, Allemand, Histoire-Géographie et Sciences). 
            Ils sont enseignés par cycle, par petit groupe ou en individuel. Dès la 1P, nous enseignons les langues étrangères par immersion de manière ludique et pratique. 
            Nous nous inspirons de différentes pédagogies et de la philosophie scolaire finlandaise afin de créer une ambiance de classe attrayante et motivante 
            et de répondre aux différents profils d’apprentissages des enfants. Nous favorisons l’apprentissage par le jeu et le mouvement. </p>
          <p class="mb-m">Les après-midis, l’enseignement est groupé avec tous les élèves de l’école (1P à 8P).  Ils se retrouvent pour travailler sur des projets communs. 
            L’objectif est de mettre en place des activités par la méthode de projet qui initie les élèves à découvrir autrement, à proposer des idées 
            et réfléchir à des solutions pour construire dans un but concret. Nous donnons du sens aux apprentissages et privilégions les activités en plein air. 
            Chaque élève effectue des tâches selon sa personnalité, son rythme et son niveau. Ces après-midis sont aussi l’occasion de faire découvrir 
            des intervenants experts dans leur domaine lors d’ateliers, de visites, de collaborations avec des entreprises ou associations. 
            C’est une approche complète qui permet d’ouvrir l’enfant au monde et de construire son identité.</p>
        </div>
      </div>
    </div>
</section>

 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/classroom.webp');padding: 35vw 0 21vw 0;"></section>  


<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="neurosciences" class="anchor"></a>
        <h2>
          <img src="/img/school/neuroscience.png" style="width:50px;padding-right:10px;">
         Neurosciences : un appui pour l’apprentissage
        </h2>
      </div>
    </div>

    
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p class="mb-m">Les découvertes scientifiques récentes sur le cerveau de l’être humain et des enfants tout particulièrement, nous permettent de comprendre 
            comment fonctionne, apprend et mémorise le cerveau humain. Nous réapprenons et réinventons nos croyances en fonction de ces avancées, 
            toujours plus intéressantes et surprenantes les unes que les autres afin de les appliquer dans le quotidien en classe avec une pédagogie adaptée pour donner
            à chacun le plaisir d’apprendre et de déployer tout son potentiel.</p>
          <p class="mb-m">Apprendre, c’est utiliser nos fonctions cognitives (acquis des savoirs et des savoirs-faire) qui se rapportent à la mémoire, l’attention, 
            la perception (les cinq sens), la motricité, le langage et le raisonnement. Ces références nous permettent de créer de nouveaux outils et techniques 
            d'apprentissage pour une meilleure intégration et mémorisation du savoir, en tenant compte des facteurs environnementaux, émotionnels et affectifs.</p>
        </div>
      </div>
    </div>
</section>


 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/neuroscience.webp');padding: 35vw 0 21vw 0;"></section>  



<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="pedagogies" class="anchor"></a>
        <h2>
          <img src="/img/school/pedagogy.png" style="width:50px;padding-right:10px;">
         The pedagogies that inspire us
        </h2>
      </div>
    </div>

    
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p class="mb-m">We are inspired by the Finnish school system, Freinet and Montessori pedagogies as well as pedagogy by nature
            which have the common points of encouraging the child in their thirst to gain autonomy and self-confidence, 
            whilst taking into account their developing personality.</p>
          
          <p><span class="brand-font brand-rose">Finnish school system</span> In Finland, the motto is that “every student is important 
            and the well-being of the student is the key to success. Classes are flexible and students are free to move around during lessons, 
            they have frequent breaks, the older ones are invaluable in caring for and being role models for the younger students. 
            Classes are given outside at times and there is no homework before 11 years old. The success of the Finnish school system maintains 
            an atmosphere of peace and calm to help students learn better.</p>
          
          <p><span class="brand-font brand-red">Montessori pedagogy</span> Montessori pedagogy was born from the desire to see each individual 
            flourish in their life, in their relationship with their environment and with their peers. It aims to prepare the child to become 
            an adult by offering them what they need to develop to their full potential. One of its peculiarities is to place the child as 
            the director of their own life, responsible for and the holder of the keys to their own success.</p>
          
          <p><span class="brand-font brand-orange">Freinet pedagogy</span> Freinet pedagogy places the pupil at the center of the educational process. 
            It invites them to search, invent and learn for themselves. This approach includes pedagogy project, allowing the student to carry out concrete productions. 
            It takes into account the social dimension of the child, destined to become an autonomous being, responsible and open to the world. 
            Experimentation, the pace of individualized learning, developing autonomy and responsibilities, cooperation between peers as well 
            as the whole class are all at the heart of this pedagogy.</p>

          <p><span class="brand-font brand-green">Pedagogy through nature</span> Through scientific studies we know that teaching outdoors, 
            in a natural environment, helps promote motor, cognitive, emotional, social and creative skills. This mode of learning allows the child
            to reveal his feeling of belonging to nature and contributes positively to the construction of his identity. It also increases their motivation
            to act in favour of and respect the environment in the long term. This method of teaching encourages motivation and team work
            and also promotes physical activity, concentration and self-confidence.</p>        
          
        </div>
      </div>
    </div>
</section>
  
 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/pedagogy-{{ page.lang }}.webp');padding: 35vw 0 21vw 0;"></section>  

<!-- Wrapper Start -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <a name="aboutus" class="anchor"></a>
            <h2>About us</h2>
            <p>We are parents, teachers and professionals who believe in the potential of every child.</p>
          </div>
          <p class="mb-0">The founder, Nathalie Rod Dumoulin, married and mother of two, felt this school project burning in her heart more than 3 years ago. 
            She had been listening to children, parents and teachers talk about the problems of schooling today. With a master's degree in communication 
            and a bachelor's degree in International Relations, she has proved herself by leading the association she was part of for 10 years, to success.
            An enterprising and enthusiastic woman, she decided to surround herself with a team of passionate childhood professionals, teachers and parents 
            to build the Life School Riviera educational project. She also put together a business plan and formed the Board of Directors of the association 
            that will run the school.</p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h3>The pedagogical team</h3>
          </div>
          <p class="mb-0">Life School Riviera has been born out of an inspired group of people made up of teaching specialists, parents, including input 
            from logopedists, and psychologists, who are personally led by the fundamental principles of Christian values which lie at the heart of the school. 
            Each, according to their calling and skills have brought variety and depth to the project. We were inspired by various international methods and 
            pedagogies to create a teaching program rich, consistent and able to adapt to the needs of our students.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h3>Quality teachers</h3>
          </div>
          <p class="mb-0">Our teachers are carefully selected for their values and the specific skills they bring to the school. We offer students the benefit 
            of specialised teachers for certain subjects from 1H (from 8H in public schools) and work closely for the child’s best interests 
            should they require support in other areas, such as speech and language therapy or special needs support. 
            Throughout the year, we organise training courses on innovative topics to allow teachers to continue their professional development.</p>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/about_us.webp');"></section>  
  
  
{% if site.data.fr.team.size > 0 %}
<!-- Team Start -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a name="team" class="anchor"></a>
        <h2 style="text-align:center"><img src="/img/testimonials/quote.png" alt="quotation"  style="width:50px;padding-right:10px;">Our team</h2>
      </div>
    </div>
    {% for tm in site.data.fr.team %}
    {% assign num = forloop.index | modulo:2 %}
    {% if num == 1 %}
    <div class="row">
    {% endif %}
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-4 col-md-4 team-container">
           {% if tm.image.size != 0 %}
            <table width="100%"><tr><td><img src="{{ tm.image }}" class="rounded img-fluid float-right animated fadeInUp team-member"></td></tr>
              <tr><td><div class="member-name">{{ tm.name }}</div></td></tr></table>
           {% endif %}
          </div>
          <div class="col-8 col-md-7">
            <blockquote class="blockquote">
              <p class="mb-0">{{ tm.testimonial }}</p>
            </blockquote>
          </div>
        </div>
      </div>
    {% if num == 0 %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}

 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/team spirit-{{ page.lang }}.webp');margin-top: 7vw;"></section> 
  
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="families" class="anchor"></a>
        <h2>
          <img src="/img/school/foundations.png" alt="quotation">
         Collaboration with families 
        </h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p>Our school was born from the desire to see children flourish in their learning as well as in their relationships. In close collaboration 
            with families, we want to establish solid benchmarks and transmit essential and life-supporting values to each of the children 
            entrusted to us for their schooling. </p>
          <p>We want to encourage parents and teachers to establish regular contact in order to be able to support each child in their development. 
            We want to encourage the culture of trust, namely that parents recognise that teachers are specialists who aim to help their children progress
            in a peaceful yet stimulating atmosphere. Our teaching team's mission is to take care to guide, encourage and value each child in their learning. 
            Our teachers will also take the time to develop pastoral links in order to get to know and support each child and their family.</p>
          <p>Respectful dialogue is essential for the development of the child, the well-being of families and the motivation of teachers. 
            We believe that a happy child benefits from responsible parents, motivated teachers and innovative and dynamic teaching methods.</p>
          <p>We want to encourage families to meet and in order to facilitate this, we will offer activities between families such as picnics, 
            team sports and walks and also conferences around various themes related to the children, learning and the child’s environment. 
            These opportunities will allow families and parents to share with each other and teachers in a safe, respectful environment.</p>
          <p>We choose to offer financially affordable schooling so that our school is accessible to all. The object is to allow the majority of children
            to have access to quality, individualised schooling which will support all students to progress at their own pace, commensurate with their needs.</p>
        </div>
      </div>
    </div>
  </div>
</section>


 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/families.webp');padding: 35vw 0 21vw 0;"></section>  

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="partners" class="anchor"></a>
        <h2>
          <img src="/img/school/partners.png" alt="quotation">
         Our partners
        </h2>
      </div>
    </div>


{% if site.data.en.partners.size > 0 %}
<!-- Principles Details Start -->
{% for p in site.data.en.partners %}
    <div class="row partner">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">      
        <a href="{{ p.website }}" target="_new">
          <img src="{{ p.logo }}" class="float-left" title="{{ p.name }}">
        </a>

        <p class="wrap">{{ p.description }}</p>
      </div>
    </div>
{% endfor %}
{% endif %}
  </div>
</section>
