---
layout: page
title: The School
permalink: /en/school
lang: en
published: false
---
<!-- Slider Start -->
<section id="global-header" style="background-image: url(/img/header/school-{{ page.lang }}.webp)">
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="classes" class="anchor"></a>
        <h2>
          <img src="/img/school/classroom.png" style="width:50px;padding-right:10px;">
         Organisation of classes
        </h2>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          
          <p class="mb-3">The start of the school year is set for <b>August 26, 2024</b>. We expect to welcome students from 1P to 8P and from 9S to 11S Harmos.
                <br/>There are still free seats available. <a href="./infos#registration">Click here to register</a>.</p>

          <p class="mb-m">For some periods, teaching focuses on essential academic knowledge (Mathematics, French, English, German,
            History-Geography and Sciences). They are taught in cycles, in small groups or individually. From 1P, we teach foreign languages
            by immersion in a fun and practical way. We draw inspiration from different pedagogies and the Finnish school philosophy in order to
            create an attractive and motivating classroom atmosphere and to respond to the different learning profiles of children.
            We promote learning through play and movement.</p>

          <p class="mb-m">For other periods, teaching is grouped with all the students of the school (1P to 8P). They get together to work
            on joint projects. The objective is to set up activities by the project method that initiates students to discover differently,
            to propose ideas and think about solutions for a concrete purpose. We give meaning to learning and favour outdoor activities.
            Each student performs tasks according to their personality, pace and level. These afternoons are also an opportunity to introduce experts
            in their field during workshops, visits and collaborations with companies or associations. It is a comprehensive approach that allows
            children to open up to the world and build their identity.</p>
        </div>
      </div>
    </div>
</section>

 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/classroom.webp');padding: 35vw 0 21vw 0;"></section>


<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="neurosciences" class="anchor"></a>
        <h2>
          <img src="/img/school/neuroscience.png" style="width:50px;padding-right:10px;">
         Neurosciences: support for learning
        </h2>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p class="mb-m">Recent scientific discoveries on human brains, and children in particular, allow us to understand
            how the human brain works, learns and memorizes. We re-learn and reinvent our knowledge based on these advances,
            each more interesting and surprising than the next, in order to apply them in everyday life. Or teaching philosophy
            with its adapted pedagogy to gives everyone the pleasure of learning and of developing their full potential.</p>
          <p class="mb-m">Learning is using our cognitive functions (acquired knowledge and skills) which relate to memory,
            attention, perception (the five senses), motor skills, language and reasoning. These references allow us to create
            new learning tools and techniques for a better integration and memorization of knowledge, taking into account environmental,
            emotional and affective factors.</p>
        </div>
      </div>
    </div>
</section>


 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/neuroscience.webp');padding: 35vw 0 21vw 0;"></section>



<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="pedagogies" class="anchor"></a>
        <h2>
          <img src="/img/school/pedagogy.png" style="width:50px;padding-right:10px;">
         The pedagogies that inspire us
        </h2>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p class="mb-m">We are inspired by the Finnish school system, Freinet and Montessori pedagogies as well as pedagogy by nature
            which have the common points of encouraging the child in their thirst to gain autonomy and self-confidence,
            whilst taking into account their developing personality.</p>

          <p><span class="brand-font brand-rose">Finnish school system</span> In Finland, the motto is that “every student is important
            and the well-being of the student is the key to success. Classes are flexible and students are free to move around during lessons,
            they have frequent breaks, the older ones are invaluable in caring for and being role models for the younger students.
            Classes are given outside at times and there is no homework before 11 years old. The success of the Finnish school system maintains
            an atmosphere of peace and calm to help students learn better.</p>

          <p><span class="brand-font brand-red">Montessori pedagogy</span> Montessori pedagogy was born from the desire to see each individual
            flourish in their life, in their relationship with their environment and with their peers. It aims to prepare the child to become
            an adult by offering them what they need to develop to their full potential. One of its peculiarities is to place the child as
            the director of their own life, responsible for and the holder of the keys to their own success.</p>

          <p><span class="brand-font brand-orange">Freinet pedagogy</span> Freinet pedagogy places the pupil at the center of the educational process.
            It invites them to search, invent and learn for themselves. This approach includes pedagogy project, allowing the student to carry out concrete productions.
            It takes into account the social dimension of the child, destined to become an autonomous being, responsible and open to the world.
            Experimentation, the pace of individualized learning, developing autonomy and responsibilities, cooperation between peers as well
            as the whole class are all at the heart of this pedagogy.</p>

          <p><span class="brand-font brand-green">Pedagogy through nature</span> Through scientific studies we know that teaching outdoors,
            in a natural environment, helps promote motor, cognitive, emotional, social and creative skills. This mode of learning allows the child
            to reveal his feeling of belonging to nature and contributes positively to the construction of his identity. It also increases their motivation
            to act in favour of and respect the environment in the long term. This method of teaching encourages motivation and team work
            and also promotes physical activity, concentration and self-confidence.</p>

        </div>
      </div>
    </div>
</section>

 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/pedagogy-{{ page.lang }}.webp');padding: 35vw 0 21vw 0;"></section>

<!-- Wrapper Start -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="aboutus" class="anchor"></a>
        <h2>About us</h2>
        <div class="block">
          <div class="section-title">
            <p>We are parents, teachers and professionals who believe in the potential of every child.</p>
          </div>
          <p class="mb-0">The founder, Nathalie Rod Dumoulin, married and mother of two, felt this school project burning in her heart more than 3 years ago.
            She had been listening to children, parents and teachers talk about the problems of schooling today. With a master's degree in communication
            and a bachelor's degree in International Relations, she has proved herself by leading the association she was part of for 10 years, to success.
            An enterprising and enthusiastic woman, she decided to surround herself with a team of passionate childhood professionals, teachers and parents
            to build the Life School Riviera educational project. She also put together a business plan and formed the Board of Directors of the association
            that will run the school.</p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h3>The pedagogical team</h3>
          </div>
          <p class="mb-0">Life School Riviera has been born out of an inspired group of people made up of teaching specialists, parents, including input
            from logopedists, and psychologists, who are personally led by the fundamental principles of Christian values which lie at the heart of the school.
            Each, according to their calling and skills have brought variety and depth to the project. We were inspired by various international methods and
            pedagogies to create a teaching program rich, consistent and able to adapt to the needs of our students.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h3>Quality teachers</h3>
          </div>
          <p class="mb-0">Our leadership and our teaching staff are Christians. Our teachers are carefully selected for their values and the specific skills they bring to the school. We offer students the benefit
            of specialised teachers for certain subjects from 1H (from 8H in public schools) and work closely for the child’s best interests
            should they require support in other areas, such as speech and language therapy or special needs support.
            Throughout the year, we organise training courses on innovative topics to allow teachers to continue their professional development.</p>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/about_us.webp');"></section>


{% if site.data.en.team.size > 0 %}
<!-- Team Start -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a name="team" class="anchor"></a>
        <h2 style="text-align:center"><img src="/img/testimonials/quote.png" alt="quotation"  style="width:50px;padding-right:10px;">Our team</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <img src="/img/school/team.webp" style="width:80vw;margin:3vw 0 3vw 0vw;" class="rounded img-fluid">
      </div>
    </div>

    {% for tm in site.data.en.team %}
    {% assign num = forloop.index | modulo:2 %}
    {% if num == 1 %}
    <div class="row">
    {% endif %}
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-4 col-md-4 team-container">
           {% if tm.image.size != 0 %}
            <table width="100%"><tr><td><img src="{{ tm.image }}" class="rounded img-fluid float-right animated fadeInUp team-member"></td></tr>
              <tr><td><div class="member-name">{{ tm.name }}</div></td></tr></table>
           {% endif %}
          </div>
          <div class="col-8 col-md-7">
            <blockquote class="blockquote">
              <p class="mb-0">{{ tm.testimonial }}</p>
            </blockquote>
          </div>
        </div>
      </div>
    {% if num == 0 %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}

 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/team spirit-{{ page.lang }}.webp');margin-top: 7vw;"></section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="families" class="anchor"></a>
        <h2>
          <img src="/img/school/foundations.png" alt="quotation">
         Collaboration with families
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p>Our school was born from the desire to see children flourish in their learning as well as in their relationships. In close collaboration
            with families, we want to establish solid benchmarks and transmit essential and life-supporting values to each of the children
            entrusted to us for their schooling. </p>
          <p>We want to encourage parents and teachers to establish regular contact in order to be able to support each child in their development.
            We want to encourage the culture of trust, namely that parents recognise that teachers are specialists who aim to help their children progress
            in a peaceful yet stimulating atmosphere. Our teaching team's mission is to take care to guide, encourage and value each child in their learning.
            Our teachers will also take the time to develop pastoral links in order to get to know and support each child and their family.</p>
          <p>Respectful dialogue is essential for the development of the child, the well-being of families and the motivation of teachers.
            We believe that a happy child benefits from responsible parents, motivated teachers and innovative and dynamic teaching methods.</p>
          <p>We choose to offer financially affordable schooling so that our school is accessible to all. The object is to allow the majority of children
            to have access to quality, individualised schooling which will support all students to progress at their own pace, commensurate with their needs.</p>
        </div>
      </div>
    </div>
  </div>
</section>


 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/families.webp');padding: 35vw 0 21vw 0;"></section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="partners" class="anchor"></a>
        <h2>
          <img src="/img/school/partners.png" alt="quotation">
         Our partners
        </h2>
      </div>
    </div>


{% if site.data.en.partners.size > 0 %}
<!-- Principles Details Start -->
{% for p in site.data.en.partners %}
    <div class="row partner">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a href="{{ p.website }}" target="_new">
          <img src="{{ p.logo }}" class="float-left" title="{{ p.name }}">
        </a>

        <p class="wrap">{{ p.description }}</p>
      </div>
    </div>
{% endfor %}
{% endif %}
  </div>
</section>
