---
layout: page
title: Life School Riviera
permalink: /index
lang: fr
---
<!-- Slider Start -->
<section id="slider">
  <!--div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">LIFE SCHOOL<br>RIVIERA</h1>
          <p class="animated fadeInUp">Vivre l'école autrement...</p>
          <p class="animated fadeInUp">Bienvenue !</p>
        </div>
      </div>
    </div>
  </div-->
</section>

<!-- Wrapper Start -->
<section id="presentation">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <h2>Présentation</h2>
        <p>Life School Riviera est une école privée innovante et évolutive. Elle est née du désir de révéler chaque enfant dans son potentiel, ses talents et son identité en lui offrant un enseignement de qualité, sur mesure, adapté à son rythme et son profil d’apprentissage. Le coeur de notre école est d’enseigner et transmettre des valeurs essentielles de savoir-être et de savoir-vivre, la valorisation de l’autre et le sens de l’excellence, qui est de donner le meilleur de soi-même sans se comparer. L’école ouvrira ses portes à la rentrée 2021, dans un écrin de verdure à Saint-Légier. Les inscriptions sont ouvertes de 1H à 7H.</p>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>A propos de nous</h2>
            <p>Nous sommes des parents, enseignants et professionnels qui croyons dans le potentiel de chaque enfant.</p>
          </div>
          <p class="mb-0">La fondatrice, Nathalie Rod Dumoulin, mariée et maman de deux enfants, a vu germé dans son cœur ce projet d’école il y a plus de 3 ans alors qu’elle écoutait les enfants, les parents et les enseignants parler des problématiques de l'école d'aujourd'hui. Diplômée d’un master en communication et d’un bachelor en relations internationales, elle a fait ses preuves en dirigeant pendant dix ans une association qu’elle a menée au succès. Femme entreprenante et enthousiaste, elle s’est entourée d’une équipe de professionnels de l’enfance, d’enseignants et de parents passionnés pour construire le projet pédagogique de Life School Riviera. Elle a également monté un business plan et constitué le conseil d’administration de l’association qui gérera l’école.</p>
         <div class="youtube">
          <iframe class="youtube" src="https://www.youtube.com/embed/6J_hankijqs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>


 <!-- Slider Start -->
<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <H1 class="animated fadeInUp brand-magenta">Chaque enfant est unique<br/>et mérite un enseignement qui lui correspond</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="vision">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <h2>Vision</h2>
        <p>Notre vision est de guider, encourager et valoriser chaque enfant pour favoriser ses apprentissages académiques, développer ses compétences sociales et intra-personnelles.
          Dans ce processus, l’objectif est de leur donner les outils nécessaires pour découvrir et apprivoiser le monde paisiblement en apprenant à le connaître, à gérer l’inconnu et la différence.
          C’est aussi leur permettre de vivre l’école et chaque apprentissage dans la joie.
          Nous souhaitons que l’enthousiasme, la curiosité et le plaisir soient leurs moteurs pour apprendre et aimer se dépasser.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <h2>Mission</h2>
        <p>Notre Mission ensemble est de préparer chaque enfant à devenir un citoyen
confiant, épanoui, responsable, respectueux et l’équiper pour qu’il devienne
un leader et apportes des solutions à la société de demain.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <h2>Philosophie</h2>
        <p>Nous souhaitons transmettre aux élèves les connaissances scolaires exigées par le plan d’étude romand en y intégrant les valeurs chrétiennes. Notre vision du monde est basée sur la Bible. Celle-ci nous révèle que l’être humain a été créé pour avoir une relation avec Dieu. Toutefois, ce Dieu qui nous tend la main nous laisse libre de choisir si nous voulons croire en lui ou non. Les valeurs chrétiennes permettent à chaque enfant (individu) de faire ses propres choix concernant sa vie et son futur.</p>
      </div>
    </div>
  </div>
</section>

 <!-- Slider Start -->
<section id="philo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <H1 class="animated fadeInUp brand-rose">Apprendre doit avoir un sens pour l'enfant</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="values">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <h2>Valeurs</h2>
        <p><font class="brand-font brand-rose">Une école de relations</font> Les fondements de l’école s’appuient sur les valeurs chrétiennes suivantes : <font class="brand-magenta">L'écoute, Le partage, Le respect, L'empathie, Le pardon, La persévérance</font></p>
        <p>Pour favoriser et développer: <font class="brand-orange brand-font"><b>L'estime et la confiance en soi, la solidarité, la fraternité, la responsabilité, le respect de soi-même et des autres</font></b></p>
        <p><font class="brand-font brand-cyan">Sens de l'excellence</font> Nous conduisons chacun à donner le meilleur de lui même dans ce qu’il entreprend sans se comparer.</p>
        <p><font class="brand-font brand-red">LA CULTURE DE L'HONNEUR</font> Chaque enfant et chaque enseignant prend soin d’honorer l’autre, de valoriser son importance, sa réputation et celle de sa famille au travers du respect et du service.</p>
        <p><font class="brand-font brand-blue">LA LIBERTÉ D'OPINIONS ET DE CONVICTIONS</font> L’endoctrinement ou le prosélytisme ne font pas partie de nos valeurs. Chaque enfant peut penser, donner son point de vue, poser des questions, avoir ses convictions et s’exprimer librement.</p>
        <p>Nous souhaitons mettre en pratique ces valeurs, majoritairement adoptées par notre constitution helvétique, que chaque enfant puisse trouver son identité et devenir un citoyen responsable, respectueux et loyal.</p>
        <p>Chaque élève, enseignant et intervenant devra signer une <font class="brand-font brand-red">CHARTE DE VALEURS ET COMPORTEMENTS</font> qu’il sera amené à respecter et à mettre en pratique au sein de l’école.</p>
      </div>
    </div>
  </div>
</section>

 <!-- Slider Start -->
<section id="principles">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <H1 class="animated fadeInUp brand-blue">Valoriser les dons de chacun</h1>
        </div>
      </div>
    </div>
  </div>
</section>

{% if site.data.fr.principles.size > 0 %}
<!-- Principles Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">

        <h2 style="text-align:center;margin-bottom:40px;">
          <img src="/img/principles.png" alt="quotation">
         Grands Principes
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
            <div class="portfolio-contant">
              <ul id="portfolio-contant-active">
                {% for p in site.data.fr.principles %}
                <li class="mix {{ p.category }}">
                  <a href="#{{ p.ref }}">
                    <img src="{{ site.baseurl }}/img/principles/{{ p.image }}" alt="{{ p.title }}">
                    <div class="overly">
                      <div class="position-center">
                        <h2>{{ p.title }}</h2>
                        <p>{{ p.subtitle }}</p>
                      </div>
                    </div>
                  </a>
                 </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if site.data.fr.principles.size > 0 %}
<!-- Principles Details Start -->
{% for p in site.data.fr.principles %}
<section id="{{ p.ref }}">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <table class="table">
            <tbody>
                <tr>
                  <td style="width:10%;vertical-align:middle;">
                    <img src="/img/principles/{{ p.image }}" alt="{{ p.title }}" class="thumbnail">
                  </td>
                  <td style="width:90%">
                    <div class="section-title">
                      <h2>{{ p.title }}</h2>
                      <p>{{ p.summary }}</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan=2 style="border:none;">
                    <p class="wrap">{{ p.desc }}</p>
                  </td>
                </tr>
            </tbody>
          </table>
       </div>
     </div>
   </div>
</section>
{% endfor %}
{% endif %}


 <!-- Slider Start -->
<section id="joy">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <H1 class="animated fadeInUp brand-yellow">Stimuler et encourager la soif d'apprendre</h1>
        </div>
      </div>
    </div>
  </div>
</section>



{% if site.data.fr.team.size > 0 %}
<!-- Team Start -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="text-align:center"><img src="/img/testimonials/quote.png" alt="quotation"  style="width:50px;padding-right:10px;">Notre équipe</h2>
      </div>
    </div>
    {% for tm in site.data.fr.team %}
    {% assign num = forloop.index | modulo:2 %}
    {% if num == 1 %}
    <div class="row">
    {% endif %}
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-4 col-md-4 team-container">
           {% if tm.image.size != 0 %}
            <table><tr><td><img src="{{ tm.image }}" class="img-rounded img-responsive pull-right animated fadeInUp team-member"></td></tr>
              <tr><td><div class="member-name">{{ tm.name }}</div></td></tr></table>
           {% endif %}
          </div>
          <div class="col-8 col-md-8">
            <blockquote class="blockquote">
              <p class="mb-0">{{ tm.testimonial }}</p>
            </blockquote>
          </div>
        </div>
      </div>
    {% if num == 0 %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}
