---
layout: page
title: L'École
permalink: /school/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>L'École</h1>
                    <p>-- EN CONSTRUCTION --</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 style="text-align:center;margin-bottom:40px;">
          <img src="img/partners.png" alt="quotation">
         Nos Partenaires
        </h2>
      </div>
    </div>


{% if site.data.partners.size > 0 %}
<!-- Principles Details Start -->
{% for p in site.data.partners %}
    <div class="row">
      <div class="table-responsive table-borderless">          
        <table class="table">
            <tbody>
                <tr>
                  <td style="width:10%">
                    <a href="{{ p.website }}" target="_new">
                      <img src="/img/partners/{{ p.logo }}" alt="{{ p.name }}" class="thumbnail">
                    </a>
                  </td>
                  <td style="width:90%">  
                    <div class="section-title">
                      <h2>{{ p.name }}</h2>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan=2 style="border:none;">
                    <p class="wrap">{{ p.desc }}</p>
                  </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
{% endfor %}
{% endif %}
  </div>
</section>
