---
layout: page
title: L'École
permalink: /school
lang: fr
---
<!-- Slider Start -->
<section id="global-header" style="background-image: url(/img/header/school-{{ page.lang }}.webp)">
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="classes" class="anchor"></a>
        <h2>
          <img src="/img/school/classroom.png" style="width:50px;padding-right:10px;">
         Organisation des classes
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p class="mb-0">A la rentrée scolaire d’août 2021, nous avons accuilli 15 élèves qui ont été répartis dans deux classes
            selon la méthode multi-âges :</p>
            <ul class="list">
              <li>Une classe 1P à 4P Harmos (Cycle I)</li>
              <li>Une classe 5P à 8P Harmos (Cycle II)</li>
            </ul>

            <p class="mb-0">Pour la rentrée scolaire d’août 2022, nous ouvrirons deux classes
              selon la méthode multi-âges :</p>
              <ul class="list">
                <li>Une classe 4P à 6P Harmos</li>
                <li>Une classe 7P à 9P Harmos</li>
              </ul>

          <p class="mb-m">Pour certaines périodes, l’enseignement est axé sur les savoirs académiques essentiels (Mathématique, Français, Anglais, Allemand, Histoire-Géographie et Sciences).
            Ils sont enseignés par cycle, par petit groupe ou en individuel. Dès la 4P, nous enseignons les langues étrangères par immersion de manière ludique et pratique.
            Nous nous inspirons de différentes pédagogies et de la philosophie scolaire finlandaise afin de créer une ambiance de classe attrayante et motivante
            et de répondre aux différents profils d’apprentissages des enfants. Nous favorisons l’apprentissage par le jeu et le mouvement. </p>

          <p class="mb-m">Pour d'autres périodes, l’enseignement est groupé avec tous les élèves de l’école (4P à 9P).  Ils se retrouvent pour travailler sur des projets communs.
            L’objectif est de mettre en place des activités par la méthode de projet qui initie les élèves à découvrir autrement, à proposer des idées
            et à réfléchir à des solutions pour construire dans un but concret. Nous donnons du sens aux apprentissages et privilégions les activités en plein air.
            Chaque élève effectue des tâches selon sa personnalité, son rythme et son niveau. Ces après-midis sont aussi l’occasion de faire découvrir
            des intervenants experts dans leur domaine lors d’ateliers, de visites, de collaborations avec des entreprises ou associations.
            C’est une approche complète qui permet d’ouvrir l’enfant au monde et de construire son identité.</p>
        </div>
      </div>
    </div>
</section>
 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/classroom.webp');padding: 35vw 0 21vw 0;"></section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="neurosciences" class="anchor"></a>
        <h2>
          <img src="/img/school/neuroscience.png" style="width:50px;padding-right:10px;">
         Neurosciences : un appui pour l’apprentissage
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p class="mb-m">Les découvertes scientifiques récentes sur le cerveau de l’être humain et des enfants tout particulièrement, nous permettent de comprendre
            comment fonctionne, apprend et mémorise le cerveau humain. Nous réapprenons et réinventons nos croyances en fonction de ces avancées,
            toujours plus intéressantes et surprenantes les unes que les autres afin de les appliquer dans le quotidien en classe avec une pédagogie adaptée pour donner
            à chacun le plaisir d’apprendre et de déployer tout son potentiel.</p>
          <p class="mb-m">Apprendre, c’est utiliser nos fonctions cognitives (acquis des savoirs et des savoirs-faire) qui se rapportent à la mémoire, l’attention,
            la perception (les cinq sens), la motricité, le langage et le raisonnement. Ces références nous permettent de créer de nouveaux outils et techniques
            d'apprentissage pour une meilleure intégration et mémorisation du savoir, en tenant compte des facteurs environnementaux, émotionnels et affectifs.</p>
        </div>
      </div>
    </div>
</section>

 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/neuroscience.webp');padding: 35vw 0 21vw 0;"></section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="pedagogies" class="anchor"></a>
        <h2>
          <img src="/img/school/pedagogy.png" style="width:50px;padding-right:10px;">
         Les pédagogies qui nous inspirent
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p class="mb-m">Nous nous inspirons du système scolaire finlandais, des pédagogies Freinet (i.e. orientée projet) ainsi que de la pédagogie par la nature
            qui ont pour points communs d’encourager l’enfant dans sa soif d’apprendre, son autonomie et sa confiance en lui, tout en tenant compte de sa personnalité.</p>

          <p><span class="brand-font brand-rose">Système scolaire finlandais</span> En Finlande, la devise est que « chaque élève est
            important ». Le bien-être de l’élève est la clé de la réussite. Les classes sont flexibles et les élèves
            sont libres de circuler pendant les cours, ils ont des pauses fréquentes, les plus âgés se rendent
            utiles aux plus jeunes, ce qui les valorise. Les cours sont donnés à l’extérieur par moments et il n’y a
            pas de devoirs avant 11 ans. La réussite du système scolaire finlandais est de garder une atmosphère
            paisible et calme pour aider les élèves à mieux apprendre.</p>

          <p><span class="brand-font brand-orange">Pédagogie Freinet</span> La pédagogie Freinet place l’élève au centre du processus éducatif.
            Elle l’invite à chercher, inventer et apprendre par lui-même. Cette approche inclut la pédagogie
            de projet, permettant à l’élève de réaliser des productions concrètes. Elle prend en compte la
            dimension sociale de l’enfant, voué à devenir un être autonome, responsable et ouvert sur le monde.
            L’expérimentation, le rythme d’apprentissage individualisé, le développement de l’autonomie et
            des responsabilités, la coopération entre pairs ainsi que l’organisation coopérative de la classe sont
            au coeur de cette pédagogie.</p>

          <p><span class="brand-font brand-green">Pédagogie par la nature</span> Grâce à des études scientifiques, nous savons que
            l’enseignement à l’extérieur, en milieu naturel, contribue à promouvoir des compétences motrices,
            cognitives, émotionnelles, sociales et créatives. Ce mode d’apprentissage permet à l’enfant de
            révéler son sentiment d’appartenance à la nature et contribue positivement à la construction de son
            identité. Elle augmente également sa motivation à agir en faveur de l’environnement sur le long
            terme. Ce mode d’enseignement encourage la motivation, favorise l’activité physique, l’entraide, la
            concentration et la confiance en soi.</p>

        </div>
      </div>
    </div>
</section>

 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/pedagogy-{{ page.lang }}.webp');padding: 35vw 0 21vw 0;"></section>

<!-- Wrapper Start -->
<section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="aboutus" class="anchor"></a>
        <h2>A propos de nous</h2>
        <div class="block">
          <div class="section-title">
            <p>Nous sommes des parents, enseignants et professionnels qui croyons dans le potentiel de chaque enfant.</p>
          </div>
          <p class="mb-0">La fondatrice, Nathalie Rod Dumoulin, mariée et maman de deux enfants, a vu germer dans son cœur ce projet d’école il y a plus de 3 ans alors qu’elle écoutait les enfants, les parents et les enseignants parler des problématiques de l'école d'aujourd'hui. Diplômée d’un master en communication et d’un bachelor en relations internationales, elle a fait ses preuves en dirigeant pendant dix ans une association qu’elle a menée au succès. Femme entreprenante et enthousiaste, elle s’est entourée d’une équipe de professionnels de l’enfance, d’enseignants et de parents passionnés pour construire le projet pédagogique de Life School Riviera. Elle a également monté un business plan et constitué le conseil d’administration de l’association qui gérera l’école.</p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h3>L'équipe pédagogique</h3>
          </div>
          <p class="mb-0">Notre équipe est formée d’une dizaine de spécialistes de l’enseignement, enseignants, logopédiste, psychologue, mais aussi de parents, intimement convaincus par les principes fondamentaux et les valeurs chrétiennes de l’école. Chacun, selon leur coeur et leurs compétences, apporte de la justesse et de la profondeur au projet. Nous nous sommes inspirés de diverses méthodes et pédagogies internationales pour créer un programme d’enseignement complet, cohérent et capable de s’adapter selon les besoins des enfants. Notre équipe de contributeurs évolue en fonction de leurs disponibilités et des spécialités que nous recherchons.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h3>Des enseignants de qualité</h3>
          </div>
          <p class="mb-0">Notre direction et notre équipe d’enseignants sont chrétiens. Ils sont soigneusement sélectionnés pour leurs valeurs et les compétences spécifiques qu’ils apportent à l’école.
            Nous proposons aux élèves de bénéficier d’enseignants spécialisés pour certaines matières dès la 4P Harmos (à partir de la 8P à l’école publique) et d’enseignants spécialisés ponctuels si
            l’enfant a des besoins spécifiques en logopédie ou autres. Tout au long de l’année, nous organisons des formations sur des thèmes innovants
            pour permettre aux enseignants d’aller plus loin dans leurs pratiques d’enseignements.</p>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/about_us.webp');"></section>


{% if site.data.fr.team.size > 0 %}
<!-- Team Start -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a name="team" class="anchor"></a>
        <h2 style="text-align:center"><img src="/img/testimonials/quote.png" alt="quotation"  style="width:50px;padding-right:10px;">Notre équipe</h2>
      </div>
    </div>
    {% for tm in site.data.fr.team %}
    {% assign num = forloop.index | modulo:2 %}
    {% if num == 1 %}
    <div class="row">
    {% endif %}
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-4 col-md-4 team-container">
           {% if tm.image.size != 0 %}
            <table width="100%"><tr><td><img src="{{ tm.image }}" class="rounded img-fluid float-right animated fadeInUp team-member"></td></tr>
              <tr><td><div class="member-name">{{ tm.name }}</div></td></tr></table>
           {% endif %}
          </div>
          <div class="col-8 col-md-7">
            <blockquote class="blockquote">
              <p class="mb-0">{{ tm.testimonial }}</p>
            </blockquote>
          </div>
        </div>
      </div>
    {% if num == 0 %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}

<!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/team spirit-{{ page.lang }}.webp');margin-top: 7vw;"></section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="families" class="anchor"></a>
        <h2>
          <img src="/img/school/foundations.png" alt="quotation">
         Collaboration avec les familles
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p>Notre école est née du désir de voir les enfants s’épanouir dans leurs apprentissages ainsi que dans leurs relations. En collaboration étroite avec les familles, nous voulons établir des repères solides et transmettre des valeurs essentielles et porteuses de vie à chacun des enfants qui nous sera confié pour son apprentissage scolaire.</p>
          <p>Nous souhaitons encourager les parents et les enseignants à établir un contact régulier afin de pouvoir accompagner chaque enfant dans son développement. Nous voulons encourager la culture de la confiance, à savoir que les parents reconnaissent que les enseignants sont des spécialistes qui ont comme but de faire progresser leurs enfants dans un climat serein. Notre équipe pédagogique a comme mission de prendre soin de guider, encourager et valoriser chaque enfant dans ses apprentissages. Nos enseignants prendront également le temps d’apprendre à connaître chaque enfant et de s’intéresser à sa famille.
          <p>Le dialogue dans le respect est primordial pour le développement de l’enfant, le bien-être des familles et la motivation des enseignants. Des enfants heureux d’aller à l’école ont besoin de parents responsables, d’enseignants motivés ainsi que de méthodes pédagogiques innovantes et dynamiques.</p>
          <p>Nous souhaitons encourager les familles à se rencontrer. Pour cela, nous proposerons des activités entres familles telles que des pique-niques, sports collectifs et balades.</p>
          <p>Nous proposerons des conférences aux parents autour de thématiques variées liées à l’enfant et son environnement ainsi que des tables-rondes où les parents pourront poser des questions et partager entre eux et avec les enseignants.</p>
          <p>D’autre part, nous faisons le choix de proposer un écolage abordable financièrement car nous voulons une école ouverte à tous et qui tente de s’adapter aux ressources de chacun. L’objectif étant de permettre à une majorité d’enfant d’accéder à un enseignement de qualité qui respecte son développement et ses besoins propres.</p>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- background image -->
<section class="bgImage" style="background-image: url('/img/bg/families.webp');padding: 35vw 0 21vw 0;"></section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="partners" class="anchor"></a>
        <h2>
          <img src="/img/school/partners.png" alt="quotation">
         Nos Partenaires
        </h2>
      </div>
    </div>
{% if site.data.fr.partners.size > 0 %}
<!-- Principles Details Start -->
{% for p in site.data.fr.partners %}
    <div class="row partner">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a href="{{ p.website }}" target="_new">
          <img src="{{ p.logo }}" class="float-left" title="{{ p.name }}">
        </a>
        <p class="wrap">{{ p.description }}</p>
      </div>
    </div>
{% endfor %}
{% endif %}
  </div>
</section>
