---
layout: page
title: L'École
permalink: /school
lang: fr
---

<!-- Slider Start -->
<section id="global-header" style="background-image: url(/img/header/school-{{ page.lang }}.webp)">
</section>

<!-- Wrapper Start -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <a name="aboutus" class="anchor"></a>
            <h2>A propos de nous</h2>
            <p>Nous sommes des parents, enseignants et professionnels qui croyons dans le potentiel de chaque enfant.</p>
          </div>
          <p class="mb-0">La fondatrice, Nathalie Rod Dumoulin, mariée et maman de deux enfants, a vu germé dans son cœur ce projet d’école il y a plus de 3 ans alors qu’elle écoutait les enfants, les parents et les enseignants parler des problématiques de l'école d'aujourd'hui. Diplômée d’un master en communication et d’un bachelor en relations internationales, elle a fait ses preuves en dirigeant pendant dix ans une association qu’elle a menée au succès. Femme entreprenante et enthousiaste, elle s’est entourée d’une équipe de professionnels de l’enfance, d’enseignants et de parents passionnés pour construire le projet pédagogique de Life School Riviera. Elle a également monté un business plan et constitué le conseil d’administration de l’association qui gérera l’école.</p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h3>L'équipe pédagogique</h3>
          </div>
          <p class="mb-0">Notre équipe est formée d’une dizaine de spécialistes de l’enseignement, enseignants, logopédiste, psychologue, mais aussi de parents, intimement convaincus par les principes fondamentaux et les valeurs chrétiennes de l’école. Chacun, selon leur coeur et leurs compétences, apporte de la justesse et de la profondeur au projet. Nous nous sommes inspirés de diverses méthodes et pédagogies internationales pour créer un programme d’enseignement complet, cohérent et capable de s’adapter selon les besoins des enfants. Notre équipe de contributeurs évolue en fonction de leurs disponibilités et des spécialités que nous recherchons.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h3>Des enseignants de qualité</h3>
          </div>
          <p class="mb-0">Nos enseignants sont soigneusement sélectionnés pour leurs valeurs et les compétences spécifiques qu’ils apportent à l’école. Nous proposons aux élèves de bénéficier d’enseignants spécialisés pour certaines matières dès la 1H (à partir de la 7H à l’école publique) et d’enseignants spécialisés ponctuels si l’enfant  a des besoins spécifiques en logopédie ou autres. Tout au long de l’année, nous organisons des formations sur des thèmes innovants pour permettre aux enseignants d’aller plus loin dans leurs pratiques d’enseignements.</p>
        </div>
      </div>
    </div>
  </div>
  
</section>

 <!-- Slider Start -->
<section id="team" class="bgImage"></section>

{% if site.data.fr.team.size > 0 %}
<!-- Team Start -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a name="team" class="anchor"></a>
        <h2 style="text-align:center"><img src="/img/testimonials/quote.png" alt="quotation"  style="width:50px;padding-right:10px;">Notre équipe</h2>
      </div>
    </div>
    {% for tm in site.data.fr.team %}
    {% assign num = forloop.index | modulo:2 %}
    {% if num == 1 %}
    <div class="row">
    {% endif %}
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-4 col-md-4 team-container">
           {% if tm.image.size != 0 %}
            <table width="100%"><tr><td><img src="{{ tm.image }}" class="rounded img-fluid float-right animated fadeInUp team-member"></td></tr>
              <tr><td><div class="member-name">{{ tm.name }}</div></td></tr></table>
           {% endif %}
          </div>
          <div class="col-8 col-md-7">
            <blockquote class="blockquote">
              <p class="mb-0">{{ tm.testimonial }}</p>
            </blockquote>
          </div>
        </div>
      </div>
    {% if num == 0 %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}


<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="families" class="anchor"></a>
        <h2>
          <img src="/img/school/foundations.png" alt="quotation">
         Collaboration avec les familles
        </h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p>Notre école est née du désir de voir les enfants s’épanouir dans leurs apprentissages ainsi que dans leurs relations. En collaboration étroite avec les familles, nous voulons établir des repères solides et transmettre des valeurs essentielles et porteuses de vie à chacun des enfants qui nous sera confié pour son apprentissage scolaire.</p>
          <p>Nous souhaitons encourager les parents et les enseignants à établir un contact régulier afin de pouvoir accompagner chaque enfant dans son développement. Nous voulons encourager la culture de la confiance, à savoir que les parents reconnaissent que les enseignants sont des spécialistes qui ont comme but de faire progresser leurs enfants dans un climat serein. Notre équipe pédagogique a comme mission de prendre soin de guider, encourager et valoriser chaque enfant dans ses apprentissages. Nos enseignants prendront également le temps d’apprendre à connaître chaque enfant et de s’intéresser à sa famille.
          <p>Le dialogue dans le respect est primordial pour le développement de l’enfant, le bien-être des familles et la motivation des enseignants. Des enfants heureux d’aller à l’école ont besoin de parents responsables, d’enseignants motivés ainsi que de méthodes pédagogiques innovantes et dynamiques.</p>
          <p>Nous souhaitons encourager les familles à se rencontrer. Pour cela, nous proposerons des activités entres familles telles que des pique-niques, sports collectifs et balades.</p>
          <p>Nous proposerons des conférences aux parents autour de thématiques variées liées à l’enfant et son environnement ainsi que des tables-rondes où les parents pourront poser des questions et partager entre eux et avec les enseignants.</p>
          <p>D’autre part, nous faisons le choix de proposer un écolage abordable financièrement car nous voulons une école ouverte à tous et qui tente de s’adapter aux ressources de chacun. L’objectif étant de permettre à une majorité d’enfant d’accéder à un enseignement de qualité qui respecte son développement et ses besoins propres.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="pedagogies" class="anchor"></a>
        <h2>
          <img src="/img/school/partners.png" alt="quotation">
         Nos pédagogies
        </h2>
      </div>
    </div>

    
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <div class="block">
          <p class="mb-0">Nous nous inspirons </p>
          <p class="mb-0"><span class="brand-font brand-blue">Système scolaire finlandais</span> En Finlande, la devise est que &quote;chaque élève est important&quote;./p>
        </div>
      </div>
    </div>    

</section>



<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">
        <a name="partners" class="anchor"></a>
        <h2>
          <img src="/img/school/partners.png" alt="quotation">
         Nos Partenaires
        </h2>
      </div>
    </div>


{% if site.data.fr.partners.size > 0 %}
<!-- Principles Details Start -->
{% for p in site.data.fr.partners %}
    <div class="row partner">
      <div class="col-12 col-md-8 offset-md-2 col-sm-12">      
        <a href="{{ p.website }}" target="_new">
          <img src="{{ p.logo }}" class="float-left" title="{{ p.name }}">
        </a>

        <p class="wrap">{{ p.description }}</p>
      </div>
    </div>
{% endfor %}
{% endif %}
  </div>
</section>
