<!-- footer Start -->
<footer>

<!-- Principles Section Start -->
{% if site.data.principles.size > 0 %}
  <section id="clients-logo-section">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <div id="clients-logo" class="owl-carousel">

              {% for p in site.data.principles %}
              <div class="clients-logo-img">
                <a href="{{ site.baseurl }}/index.html#{{ p.ref }}">
                  <img class="logo-img" src="{{ site.baseurl }}/img/principles/{{ p.image }}" alt="{{ p.title }}">
                </a>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if page.lang == "fr" %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/index.html#aboutus">A propos de nous</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            <li><a href="{{ site.baseurl }}/media">Blog</a></li>
            <li><a href="https://goo.gl/maps/eNXTpgfKHka5qeFU6" target="_blank">Rte de Fenil 38, 1806 St-Légier</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li>
              <span class="brand-font">Life School Riviera, vivre l'école autrement !</span>
            </li>
            <li>
              <a href="href="https://www.facebook.com/lifeschoolriviera" target="_new"><img src="/img/social/facebook.png" style="width:auto;height:1.5vw;"></a>
              <!--div class="fb-like" data-href="https://www.facebook.com/lifeschoolriviera" data-width="" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div-->
            </li>
            <li>
              <a href="href="https://www.instagram.com/life.school.riviera/" target="_new"><img src="/img/social/instagram.png" style="width:auto;height:1.5vw;"></a>
            </li>
            <li>
              <a href="href="https://www.youtube.com/channel/UCkJtrA_mHUXDmQbCTyPtu_A" target="_new"><img src="/img/social/youtube.png" style="width:auto;height:1.5vw;"></a>
            </li>                        
          </ul>
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-3">
      <div class="footer-manu">
        <ul>
          <li><a href="{{ site.baseurl }}/index.html#aboutus">About us</a></li>
          <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          <li><a href="{{ site.baseurl }}/media">Blog</a></li>
          <li><a href="https://goo.gl/maps/eNXTpgfKHka5qeFU6" target="_blank">Rte de Fenil 38, 1806 St-Légier</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="footer-manu">
        <ul>
          <li>
            <span>Life School Riviera, live it differently !</span>
          </li>
          <li>
            <div class="fb-like" data-href="https://www.facebook.com/lifeschoolriviera" data-width="" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
</footer>


<!-- Js References -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/js/bootstrap-dropdownhover.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<!--script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script-->
<script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>

<!-- My Js -->
<script src="{{ site.baseurl }}/js/main.js"></script>
