<!-- Principles Section Start -->
{% if site.data.principles.size > 0 %}
  <section id="clients-logo-section">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <div id="clients-logo" class="owl-carousel">

              {% for p in site.data.principles %}
              <div class="clients-logo-img">
                <a href="{{ site.baseurl }}/index.html#{{ p.ref }}">
                  <img class="logo-img" src="{{ site.baseurl }}/img/principles/{{ p.image }}" alt="{{ p.title }}">
                </a>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/intro">A Propos de nous</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
          </ul>
        </div>
        <p>Life School Riviera, vivre l'école autrement !</p>
      </div>
    </div>
  </div>
</footer>
