<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
{% if page.lang == 'fr' %}
<meta name="description" content="Life School Riviera est une école privée innovante offrant un enseignement sur mesure dans un cadre bienveillant et épanouissant.">
<meta name="keywords" content="Life School Riviera, school, école, enfance, privé, français, anglais, maths, valeurs, innovation, savoir-être, savoir-vivre, respect, excellence, Riviera, St-Légier, multi-âges, solidarité, chrétien, bible, futur, avenir, sur mesure, personnalisé, mouvements, collaboration">
{% else %}
<meta name="description" content="Life School Riviera is an innovative private school offering tailor-made education in a caring and fulfilling environment.">
<meta name="keywords" content="Life School Riviera, school, childhood, private, French, English, math, values, innovation, savoir-être, savoir-vivre, respect, excellence, Riviera, St-Légier, multi-age, solidarity, Christian, bible, future, custom-made, personalized, movements, collaboration">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.ga_tracking_id }}');
</script>

<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" />
<!--link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" /-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-dropdownhover.min.css" >
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-lsr.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/airspace.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />

<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<!--script src="{{ site.baseurl }}/js/bootstrap.min.js"></script-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap-dropdownhover.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>


<script src="{{ site.baseurl }}/js/main.js"></script>
